body {
    background-color: rgb(26, 26, 26);
    color: white;
    font-family: 'Lexend', sans-serif;
    margin: 0;
}

a {
    color: white;
    color: #7cd87c;
    text-decoration: none;
}

a:hover {
    color: rgb(224, 224, 133);
}

.nav {
    /* border-bottom:1px solid  #666666; */
    padding: .1em 3em;
    display: flex;
    margin-top:25px;
}

.nav h1 {
    margin-top:30px;
    margin-left: 25px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 2em;
}

.card img {
    align-items: center;
}
.card {
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    margin:10px;
    border: 1px solid #474747;
}

.card-header {
    background-color:#274227;
    margin-top:-1px;
    padding: .5em 1em;
}

.card-content {
    padding:1em;
}

@media (max-width: 767px) {
    .card {
      width: 100%;
    }
  }

h1 {
    font-weight: 700;
}